/* import */
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);
@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css);
//colores
$color-red: #F43A55;
$color-gray: #858585;
$color-yellow: #F3B345;
$color-sandia: #E04A17;
:root {
   --color-gray: #717171;
   --color-pink: #da424b;
   --color-black: #000;
   --color-white: #fff;
   --font-family: 'lato', san-serif;
   --font-size: 28px;
   --min-size: 18;
   --min-size-px: calc(var(--min-size) * 1px);
   --max-size: 50;
   --max-size-px: 50px;
   --max-width: 1440;
   --max-width-px: calc(var(--max-size) * 1px);
   --min-width: 600;
   --min-width-px: calc(var(--min-width) * 1px);
   --diff: (var(--max-size) - var(--min-size));
   --diff-width: calc(var(--max-width) - var(--min-width));
   --responsive: calc((var(--min-size) * 1px) + var(--diff) * ((100vw - (var(--min-width) * 1px)) / var(--diff-width)));
   --responsive2: calc(((var(--max-size)*(100vw - var(--min-width-px))) - (var(--min-size)*(100vw - var(--max-width-px)))) / var(--diff-width));
}
//general helper
%title {
   font-size: 42px;
   text-align: center;
   color: #000;
   text-transform: uppercase;
   font-weight: bold;
}
%subtitle {
   text-transform: uppercase;
   font-size: 26px;
   font-weight: bold;
   text-align: center;
   color: #000;
   margin-bottom: 50px;
}
%button-red {
   font-size: 20pxi;
   color: #fff;
   text-transform: uppercase;
   text-decoration: none;
   border-radius: 50px;
   padding: 30px 57px;
   background-color: $color-red;
}
// --responsive: calc((var(--max-size) * (100vw - (var(--min-width) * 1px)) - var(--min-size) * (100vw - (var(--max-width) * 1px))) / var(--diff-width));
@function responsive() {
   @return calc((34 * (100vw - 600px) - 30 * (100vw - 1440px)) / (1440 - 600));
}
body {
   box-sizing: border-box;
}
*,
*::before,
*::after {
   box-sizing: inherit;
   padding: 0;
   margin: 0 auto;
}
img {
   max-width: 100%;
   height: auto;
}
a {
   text-decoration: none;
   &:hover {
      text-decoration: none;
   }
}



.container {}
.container-medium {}
.line {
   width: 100%;
   height: 9px;
   background-color: var(--color-white);
   margin: 0;
}
.menu {
   text-align: end;
   ul {
      display: inline-flex;
      margin-bottom: 0;
      li {
         text-decoration-style: none;
         list-style-type: none;
         a {
            color: white;
         }
      }
   }
   &__icon {
      &--blog {}
      &--feature {}
   }
   &--active {}
}
.btn {
   &__cart {}
   &__pink {
      @extend %button-red;
   }
}
.logo {}
.across {}
/*  Header
-----------------*/
.header {
   &__up {
      padding: 21px 0;
      background-color: var(--color-pink);
      color: var(--color-white);
   }
   &__menu--up {
      padding-left: 10px;
      font-size: 14px;
      color: white;
   }
   &__down {
      padding: 21px 0;
      background-color: var(--color-black);
      color: var(--color-white);
   }
   .rows {
      display: flex;
      flex-wrap: wrap;
   }
   .logo {
      width: 25%;
   }
   .form-search {
      width: 50%;
   }
   .btn__cart {
      width: 25%;
   }
   &__menu--down {
      width: 100%;
      text-align: end;
      ul {
         display: inline-flex;
      }
   }
}
.form-search {
   display: inline-flex;
   &__item {
      &:first-child {
         width: 20%;
      }
      &:nth-child(2) {
         width: 70%;
      }
      &:nth-last-child() {
         width: 10%;
      }
      input {
         min-height: 42px;
         width: 100%;
      }
   }
   &__category {}
   &__input {}
   &__btn {
      padding: 0;
      background-color: var(--color-pink);
   }
}


.row {
    display: flex;
}
.column-{
    &60 {
        width: 60%;
    }
    &40{
        width: 40%;
    }
}