.logo {
}
.across {
}

/*  Collection
-----------------*/
.collection {
    padding: 57px 0 70px;
    &__title {
        @extend %title;
    }
    &__subtitle {
        @extend %subtitle;
    }
    &__content {
        margin-bottom: 40px;
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        padding: 110px 35px 94px 77px;
        // display: inline-block;
        background-color: rgba($color: red, $alpha: 0.4);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 43%;
        &--large {
            width: 57%;
        }
        &:nth-child(1) {
            background-image: url(.././images/collection1.png);
        }
        &:nth-child(2) {
            background-image: url(.././images/collection2.png);
        }
        &:nth-child(3) {
            background-image: url(.././images/collection3.png);
        }
        &:nth-child(4) {
            background-image: url(.././images/collection4.png);
        }
    }
    &__item-title {
        color: #fff;
        font-size: 42px;
        text-decoration: uppercase;
        line-height: 1;
        text-transform: uppercase;
        font-style: italic;
        margin-bottom: 20px;
    }
    &__item-view {
        font-size: 16px;
        color: #000;
        text-transform: uppercase;
        // background-color: #fff;
        // border-radius: 30px;
        padding: 24px;
        position: relative;
        z-index: 10;
        display: inline-block;
        transition: padding 0.23s ease-in-out;
        &::before,
        &::after {
            content: "";
            position: absolute;
            height: 100%;
            border-radius: 50px;
            background-color: $color-red;
            left: -28px;
            width: 100%;
            z-index: -1;
            top: 0;
        }
        &::after {
            background-color: #fff;
            left: 0;
            transition: left 0.23s ease-in-out;
        }
        &:hover {
            color: #000;
            font-weight: bold;
            padding-left: 0px;
            padding-right: 48px;
            &::after {
                left: -28px;
            }
        }
    }
    &__dots {
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            display: inline-block;
            margin: 0 3px;
            border-radius: 50%;
            background-color: $color-gray;
            width: 12px;
            height: 12px;
            &.active {
                background-color: $color-red;
                width: 24px;
                height: 24px;
                + span {
                    width: 17px;
                    height: 17px;
                }
            }
        }
    }
}
/*  Other
-----------------*/
.other {
    &__content {
    }
    &__logo {
    }
    &__view {
    }
}
/*  Product
-----------------*/
.product {
    &__title {
        @extend %title;
    }
    &__subtitle {
        @extend %subtitle;
    }
    &__content {
        display: flex;
    }
    &__item-content {
    }
    &__item {
    }
    &__btn {
    }
}
.item {
    position: relative;
    @include responsive(mw, 382, 300);
    height: 344px;
    box-shadow: 0px 0px 12px 4px grey;
    padding: 29px 16px;

    &__content {
    }
    &__zoom {
        font-weight: bold;
        position: absolute;
        right: 0;
        margin-right: 16px;
        text-transform: uppercase;
    }
    &__label-content {
        position: absolute;
        max-height: 100px;
        top: 0;
    }
    &__label {
        position: relative;
        top: 0;
        height: 100%;
        color: #fff;
        text-transform: uppercase;
        writing-mode: vertical-rl;
        display: inline-block;
        padding-top: 5px;
        // transform: rotate(90deg);
        &--yellow {
            background-color: $color-yellow;
        }
        &--orange {
            background-color: $color-sandia;
        }
        &--pink {
            background-color: $color-red;
        }
        &::before {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            bottom: 0;
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 12px 12px 12px;
            border-color: transparent transparent #fff transparent;
        }
    }
    &__image {
        text-align: center;
    }
    &__title {
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 17px;
    }
    &__star-content {
        display: flex;
        margin-bottom: 17px;
    }
    &__star {
        display: inline-block;
        margin: 0;
        margin-right: 4px;
        font-size: 40px;
        font-weight: bold;
        color: $color-gray;
        line-height: 0.6;
        &::before {
            content: "*";
        }
        &--active {
            color: $color-yellow;
        }
    }
    &__price {
        font-size: 24px;
        font-weight: bold;
        color: $color-red;
        &--across {
            font-size: 0.75em;
            color: $color-gray;
            text-decoration: line-through;
            margin-left: 14px;
        }
    }
}
/*  Graphic
-----------------*/
.graphic {
    @include bg();
    background-image: url(../images/cerro.png);
    &__container {
    }
    &__product {
    }
    &__content {
    }
    &__price {
    }
    &__status {
    }
    &__level {
        &--blue {
        }
        &--pink {
        }
        &--gray {
        }
    }
    &__person {
    }
    &__link {
    }
}
/*  Newsletter
-----------------*/
.newsletter {
    background-color: $color-red;
    &__title {
        color: #fff;
    }
    &__description {
        color: #fff;
    }
    &__form {
    }
    &__input {
    }
    &__suscribe {
    }
}
