/* import */
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);
@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css);
:root {
  --color-gray: #717171;
  --color-pink: #da424b;
  --color-black: #000;
  --color-white: #fff;
  --font-family: 'lato', san-serif;
  --font-size: 28px;
  --min-size: 18;
  --min-size-px: calc(var(--min-size) * 1px);
  --max-size: 50;
  --max-size-px: 50px;
  --max-width: 1440;
  --max-width-px: calc(var(--max-size) * 1px);
  --min-width: 600;
  --min-width-px: calc(var(--min-width) * 1px);
  --diff: (var(--max-size) - var(--min-size));
  --diff-width: calc(var(--max-width) - var(--min-width));
  --responsive: calc((var(--min-size) * 1px) + var(--diff) * ((100vw - (var(--min-width) * 1px)) / var(--diff-width)));
  --responsive2: calc(((var(--max-size)*(100vw - var(--min-width-px))) - (var(--min-size)*(100vw - var(--max-width-px)))) / var(--diff-width));
}

.collection__title, .product__title {
  font-size: 42px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
}

.collection__subtitle, .product__subtitle {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  color: #000;
  margin-bottom: 50px;
}

.btn__pink {
  font-size: 20pxi;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 50px;
  padding: 30px 57px;
  background-color: #F43A55;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.line {
  width: 100%;
  height: 9px;
  background-color: var(--color-white);
  margin: 0;
}

.menu {
  text-align: end;
}

.menu ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 0;
}

.menu ul li {
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
  list-style-type: none;
}

.menu ul li a {
  color: white;
}

/*  Header
-----------------*/
.header__up {
  padding: 21px 0;
  background-color: var(--color-pink);
  color: var(--color-white);
}

.header__menu--up {
  padding-left: 10px;
  font-size: 14px;
  color: white;
}

.header__down {
  padding: 21px 0;
  background-color: var(--color-black);
  color: var(--color-white);
}

.header .rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header .logo {
  width: 25%;
}

.header .form-search {
  width: 50%;
}

.header .btn__cart {
  width: 25%;
}

.header__menu--down {
  width: 100%;
  text-align: end;
}

.header__menu--down ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.form-search {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.form-search__item:first-child {
  width: 20%;
}

.form-search__item:nth-child(2) {
  width: 70%;
}

.form-search__item:nth-last-child {
  width: 10%;
}

.form-search__item input {
  min-height: 42px;
  width: 100%;
}

.form-search__btn {
  padding: 0;
  background-color: var(--color-pink);
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column-60 {
  width: 60%;
}

.column-40 {
  width: 40%;
}

/*  Hero
-----------------*/
.hero {
  background-image: url(../images/hero.png);
  color: var(--color-white);
}

.hero__image-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__image {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  width: 200px;
}

.hero__title {
  --max-size: 34;
  --min-size: 30;
  font-size: var(--responsive);
  font-size: calc((34 * (100vw - 600px) - 30 * (100vw - 1440px)) / (1440 - 600));
}

.hero__subtitle {
  --max-size: 21;
  font-size: var(--responsive);
  font-size: var(--responsive2);
}

/*  Collection
-----------------*/
.collection {
  padding: 57px 0 70px;
}

.collection__content {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.collection__item {
  padding: 110px 35px 94px 77px;
  background-color: rgba(255, 0, 0, 0.4);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 43%;
}

.collection__item--large {
  width: 57%;
}

.collection__item:nth-child(1) {
  background-image: url(.././images/collection1.png);
}

.collection__item:nth-child(2) {
  background-image: url(.././images/collection2.png);
}

.collection__item:nth-child(3) {
  background-image: url(.././images/collection3.png);
}

.collection__item:nth-child(4) {
  background-image: url(.././images/collection4.png);
}

.collection__item-title {
  color: #fff;
  font-size: 42px;
  -webkit-text-decoration: uppercase;
          text-decoration: uppercase;
  line-height: 1;
  text-transform: uppercase;
  font-style: italic;
  margin-bottom: 20px;
}

.collection__item-view {
  font-size: 16px;
  color: #000;
  text-transform: uppercase;
  padding: 24px;
  position: relative;
  z-index: 10;
  display: inline-block;
  -webkit-transition: padding .23s ease-in-out;
  transition: padding .23s ease-in-out;
}

.collection__item-view::before, .collection__item-view::after {
  content: "";
  position: absolute;
  height: 100%;
  border-radius: 50px;
  background-color: #F43A55;
  left: -28px;
  width: 100%;
  z-index: -1;
  top: 0;
}

.collection__item-view::after {
  background-color: #fff;
  left: 0;
  -webkit-transition: left .23s ease-in-out;
  transition: left .23s ease-in-out;
}

.collection__item-view:hover {
  color: #000;
  font-weight: bold;
  padding-left: 0px;
  padding-right: 48px;
}

.collection__item-view:hover::after {
  left: -28px;
}

.collection__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.collection__dots span {
  display: inline-block;
  margin: 0 3px;
  border-radius: 50%;
  background-color: #858585;
  width: 12px;
  height: 12px;
}

.collection__dots span.active {
  background-color: #F43A55;
  width: 24px;
  height: 24px;
}

.collection__dots span.active + span {
  width: 17px;
  height: 17px;
}

/*  Other
-----------------*/
/*  Product
-----------------*/
.product__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item {
  position: relative;
  width: 382px;
  height: 344px;
  -webkit-box-shadow: 0px 0px 12px 4px grey;
          box-shadow: 0px 0px 12px 4px grey;
  padding: 29px 16px;
}

.item__zoom {
  font-weight: bold;
  position: absolute;
  right: 0;
  margin-right: 16px;
  text-transform: uppercase;
}

.item__label-content {
  position: absolute;
  max-height: 100px;
  top: 0;
}

.item__label {
  position: relative;
  top: 0;
  height: 100%;
  color: #fff;
  text-transform: uppercase;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  display: inline-block;
  padding-top: 5px;
}

.item__label--yellow {
  background-color: #F3B345;
}

.item__label--orange {
  background-color: #E04A17;
}

.item__label--pink {
  background-color: #F43A55;
}

.item__label::before {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12px 12px 12px;
  border-color: transparent transparent #fff transparent;
}

.item__image {
  text-align: center;
}

.item__title {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.item__star-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 17px;
}

.item__star {
  display: inline-block;
  margin: 0;
  margin-right: 4px;
  font-size: 40px;
  font-weight: bold;
  color: #858585;
  line-height: 0.6;
}

.item__star::before {
  content: '*';
}

.item__star--active {
  color: #F3B345;
}

.item__price {
  font-size: 24px;
  font-weight: bold;
  color: #F43A55;
}

.item__price--across {
  font-size: 0.75em;
  color: #858585;
  text-decoration: line-through;
  margin-left: 14px;
}

/*  Graphic
-----------------*/
.graphic {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/cerro.png);
}

/*  Newsletter
-----------------*/
.newsletter {
  background-color: #F43A55;
}

.newsletter__title {
  color: #fff;
}

.newsletter__description {
  color: #fff;
}

/*  Footer
-----------------*/
.footer {
  padding: 114px 0 34px;
  background-color: #151A1D;
}

.footer a {
  color: white;
}

.footer a:hover {
  color: #F43A55;
}

.footer ul {
  padding-left: 0;
}

.footer ul li {
  list-style: none;
  list-style-type: none;
}

.footer__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__title {
  font-size: 18px;
  font-weight: bold;
  color: #F43A55;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.footer__icon {
  color: #F43A55;
}

.footer__end {
  color: #fff;
  text-align: center;
}
