/*  Header
-----------------*/
.header {
    &__up {
       padding: 21px 0;
       background-color: var(--color-pink);
       color: var(--color-white);
    }
    &__menu--up {
       padding-left: 10px;
       font-size: 14px;
       color: white;
    }
    &__down {
       padding: 21px 0;
       background-color: var(--color-black);
       color: var(--color-white);
    }
    .rows {
       display: flex;
       flex-wrap: wrap;
    }
    .logo {
       width: 25%;
    }
    .form-search {
       width: 50%;
    }
    .btn__cart {
       width: 25%;
    }
    &__menu--down {
       width: 100%;
       text-align: end;
       ul {
          display: inline-flex;
       }
    }
 }
 