// ---------------------------------- \\
// Colors Default
// ---------------------------------- \\

// Colors //
$color-primary:#17A2B8 ; //skyblue
$color-secondary:#E1E1E1 ; // light
$color-success:#17B87D ; //green
$color-info: #1752B8; //blue-dark
$color-warning:#F45030; //orange
$color-danger: #B82C17; //red

$color-sky: #86d5ff;
$color-sky-light: #eefaff;

$color-text-primary: $color-primary; //primary color
$color-text: #052328; //blue black
$color-text-dark: #020C0D; //dark
$color-text-light: #F5FDFE; //light
$color-text-white: #ffffff; //white

//custom property
$body-bkg: #ffffff; //white
$color-bkg-light: $color-text-light; //light
$base-color: $color-text; //blue dark
$link-color: $color-primary; //skyblue
$color-shadow-default: rgba(0, 0, 0, 0.25);

$color-white: #ffffff; //white
$color-red: #F43A55;
$color-gray: #858585;
$color-yellow: #F3B345;
$color-sandia: #E04A17;